@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fcfcfc;
  font-family: 'Lato', sans-serif;
}

.header {
  height: 72px;
  background-color: white;
}

.header .navbar {
  font-size: 14px;
  font-weight: bold;
}

.header .navbar .botonPresupuesto {
  background-color: #0a0a0a;
  color: white;
  padding: 9px;
  border-radius: 5px;
}

.header .navbar .botonPresupuesto:hover {
  background-color: #4c96d3;
  color: white;
  transition: all 150ms ease-in-out;
}

.header .navbar a {
  color: black;
}

.header .navbar a:hover {
  color: #4c96d3;
  transition: all 150ms ease-in-out;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: dimgray;
}

.banner {
  background: #bcbcbc;
  width: 100%;
  margin-top: 73px;
  height: 100%;
}

.banner h1 {
  padding: 60px;
  font-size: 3em;
  vertical-align: middle;
  margin: auto;
  display: block;
  color: #fcfcfc;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 300px;
    margin-right: -80px;
  }
}

.nosotros {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: calc(100vh - 150px);
}

.contenedor {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.contenedor .productos {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  max-width: 650px;
  margin: auto;
  margin-top: 110px;
}

.contenedor .productos .productos__caja {
  display: flex;
  flex-direction: row;
  width: 40%;
  padding: 35px;
  box-sizing: border-box;
}

.contenedor .productos .productos__caja .productos__logo:hover {
  transform: scale(1.07);
  transition: all 400ms ease-in-out;
}

.contenedor .productos .productos__destacados {
  display: flex;
  flex-direction: row;
}

.contenedor .productos .productos__destacados .productos__listado {
  margin: 20px;
  list-style-type: none;
}

.map-responsive {
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.presupuesto {
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
  min-height: calc(100vh - 150px);
  margin-bottom: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.footer {
  font-size: 12px;
  background: #0a0a0a;
  color: #fff;
  min-height: 150px;
}

.footer .lista__direccion {
  color: #4c96d3;
}

.footer .lista__direccion .icono-redes {
  font-size: 30px;
  color: #4c96d3;
}

.carrusel {
  margin-top: 72px;
}
