.contenedor {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;

	.productos { 
		background-color: white;
		border-radius: 15px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	   	align-content: stretch;
	   	max-width: 650px;
		margin: auto;
		margin-top: 110px;

		.productos__caja {
			display: flex;
			flex-direction: row;
			width: 40%;
			padding: 35px;
			box-sizing: border-box;

			.productos__logo:hover{
				transform:scale(1.07); 
				transition: all 400ms ease-in-out;
								}
						}		

		.productos__destacados {
			display: flex;
			flex-direction: row;
		
			.productos__listado {
				margin: 20px;
				list-style-type: none;
			}
		}
	}
}